<!DOCTYPE html>
<html ng-app='kzrl' ng-controller='ctrl' ng-cloak class='ng-cloak'>
    
    <head>
        <title>抗战日历</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="yes" name="apple-mobile-web-app-capable" />
        <meta content="yes" name="apple-touch-fullscreen" />
        <meta content="telephone=no" name="format-detection" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <link href="nearby.css?_=3" rel="stylesheet" />
        <script>
            var _hmt = _hmt || [];
            (function() {
              var hm = document.createElement("script");
              hm.src = "//hm.baidu.com/hm.js?40ec59c933400d729f57930675635edb";
              var s = document.getElementsByTagName("script")[0]; 
              s.parentNode.insertBefore(hm, s);
            })();
        </script>
    </head>
    
    <body>
        <div id='tipPlace'>以下是距离<span ng-bind='center.occured_place'></span>较近的抗战事件</div>
        <div id='incidents'>
            <div ng-repeat='i in incidents' ng-click='openOne(i)'>
                <div class="title1">
                    <div ng-show="i.pic !== undefine" class="t-img">
                        <img src="/static/img/1.jpg" />
                    </div>
                    <div class="bt">
                        <b>{{i.occured_year}}年{{i.occured_month}}月{{i.occured_day}}日</b>
                    </div>
                    <div class="bt1">
                        <a href="" target="_blank">{{i.title}}</a>
                    </div>
                    <div clas="ft1">{{i.summary}}</div>
                </div>
            </div>
        </div>
        <script src='/static/js/angular.min.js'></script>
        <script src='nearby.js?_=3'></script>
    </body>

</html>