<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1" name="viewport">
        <base href=".">
        <title>我的胜利日</title>
        <link href="http://xxt.ctsi.com.cn/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="./main.css">
    </head>
    <body ng-app="formApp" ng-controller="formCtrl" ng-cloak class="ng-cloak">
        <div class="container">
            <div class="row">
                <div class="col-xs-12"></div>
                <div class="col-xs-12">
                    <div class="media" ng-repeat="matter in matters" ng-click="goto(matter)">
                        <div class="media-left">
                            <img src="./play-btn.png" style="width:40px;"/>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="{{matter.url}}"></a>{{matter.title}}</h4>
                        </div>
                    </div>
                </div>
                <div id="entry" class="col-xs-12">
                    <div id="placeholder"></div>
                    <div id="slider">
                        <i class="circle1"></i><i class="circle2"></i><i class="circle3"></i>
                        <div id="text-box" ><span>向上滑动开始你的阅兵</span></div>
                    </div>
                    
                </div>
                
            </div>
        </div>
        
        <footer>
            本页面由央视新闻提供
        </footer>
        <script src="http://xxt.ctsi.com.cn/static/js/jquery.min.js"></script>
        <script src="http://xxt.ctsi.com.cn/static/js/hammer.min.js"></script>
        <script src="http://xxt.ctsi.com.cn/static/js/angular.min.js"></script>
        <script src="http://yaotv.qq.com/shake_tv/include/js/jsapi_share.js"></script>
        <script src="./main.js"></script>
    </body>
</html>